@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* Basic */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.h2 {
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}

.h3 {
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button--big {
  font-size: 20px;
  line-height: 36px;
}

.button--basic {
  background-color: #756157;
}

.button--additional {
  background-color: #82b3d3;
}

.button--selected {
  background-color: #7db54f;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  /* padding: 0 40px; */
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  box-sizing: border-box;
}


/* Header */
.page-header {
  display: flex;
}

.navigation-list {
  display: flex;

  list-style-type: none;
}

.navigation-link {
  text-decoration: none;
}

.menu {
  display: flex;
  margin-left: auto;

  list-style-type: none;
}

.favorites-item {
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  border-radius: 10px;
  background-color: #7db54f;
}

.menu-link {
  text-decoration: none;
}

/* Main */
.main-index {
  flex-grow: 1;
}

.welcome-section {
  text-align: center;
  min-height: 485px;

  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/index-mountains.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
}

.advantage-item {
  width: 33.3333%;
}


.advantage-item--accent {
  width: 100%;

  color: #ffffff;
  background-color: #82b3d3;
}

.advantage-item--background {
  background-color: rgba(131, 179, 211, 0.2);
}


/* Предложения */
.offers-section {
  text-align: center;
}

.offers-list {
  display: flex;
  justify-content: space-between;
}

.offers-item {
  width: 400px;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.offers-item--accent {
  background-color: rgba(131, 179, 211, 0.2);
}

/* заинтересовались */
.search {
  text-align: center;
}

/*Footer*/
.subscribe-section {
  min-height: 414px;
  text-align: center;
  padding-top: 96px;
  color: #ffffff;

  background-repeat: no-repeat;
  background-position: 50%;

}

.subscribe-section--index {
  background-image: url("../images/subscribe.jpg");
}

.contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;

}

.social-item {
  list-style-type: none;
}

.phone {
  text-decoration: none;
}

/* Pages */
/* Catalog */
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.inner-header {
  min-height: 412px;

  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.h1 {
  font-size: 60px;
  line-height: 78px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 70px 60px;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-left: 0;

  list-style-type: none;
}

.hotel-card {
  max-width: 340px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  overflow: hidden;

  box-sizing: border-box;
}

.hotel-card-title {
  color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}

.result {
  font-weight: 700;

  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}

.rating-area {
  color: #82b3d3;
}

.stars {
  background-color: #f2f2f2;
}


/* Pagination */
.pagination {
  width: 100%;
}

.pagination-list {
  display: flex;
  padding-left: 0;

  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  line-height: 36px;
  font-weight: 700;

  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}
