@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Basic */

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0;
  height: 100%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;

  background-color: #f2f2f2;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.h1 {
  margin: 0 0 8px;

  font-size: 60px;
  line-height: 78px;

}

.h2 {
  margin: 0 0 20px;

  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}

.h3 {
  margin: 0 auto;

  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.paragraph {
  margin: 0;
}

.button {
  display: inline-block;
  padding: 8px 34px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 4px;
  border: none;

  cursor: pointer;
}

.button--big {
  padding-left: 50px;
  padding-right: 50px;

  font-size: 20px;
  line-height: 36px;
}

.button--basic {
  background-color: #756157;
}

.button--basic:hover,
.button--basic:focus {
  background-color: #615048;
}

.button--basic:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--basic:disabled {
  color: #ffffff;

  background-color: #e5e5e5;

  cursor: default;
}

.button--additional {
  background-color: #82b3d3;
}

.button--additional:hover,
.button--additional:focus {
  background-color: #68a2ca;
}

.button--additional:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--additional:disabled {
  background-color: #e5e5e5;

  cursor: default;
}

.button--selected {
  background-color: #7db54f;
}

.button--selected:hover,
.button--selected:focus {
  background-color: #6c9e42;
}

.button--selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.button--selected:disabled {
  background-color: #e5e5e5;

  cursor: default;
}

.button--transparent {
  background-color: transparent;
}

.button--transparent:hover {
  opacity: 0.6;
}

.button--transparent:focus {
  outline: #83b3d3 solid 3px;
}

.button--transparent:disabled {
  opacity: 0.1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  box-sizing: border-box;
}


/* Header */
.page-header {
  display: flex;
  min-height: 64px;
  padding-left: 70px;
  padding-right: 70px;
  column-gap: 29px;
}

.page-logo {
  position: relative;
  z-index: 1;

  width: 140px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation {
  position: relative;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-link {
  display: block;
  padding: 20px 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link--active {
  position: relative;
}

.navigation-link--active::after {
  content: "";

  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;

  border-bottom: 2px solid #756257;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 0 auto;
  padding-left: 0;

  list-style-type: none;
}

.menu-item {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 22px 13px;

  text-decoration: none;

  box-sizing: border-box;
}

.menu-link--button {
  height: auto;
  margin-left: 20px;
  padding: 8px 34px;
}

.favorites {
  position: relative;
}

.favorites-item {
  position: absolute;
  top: 11px;
  right: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;

  border-radius: 10px;
  background-color: #7db54f;
}


/* Main */
.main-index {
  flex-grow: 1;
}

.welcome-section {
  position: relative;

  display: block;
  min-height: 485px;
  padding-top: 50px;

  color: #000000;
  text-align: center;

  background-color: #2c4d0d;
  background-image: url("../images/index-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.welcome-section::before,
.welcome-section::after {
  content: "";
  position: absolute;
  bottom: 0;

  height: 57px;

  background-color: #fff;
  clip-path: polygon(0% 100%, 0% 0%, 50% 100%, 100% 0%, 100% 100%);
}

.welcome-section::before {
  left: 0;
  right: 0;
}

.welcome-section::after {
  left: 250px;
  right: 250px;
}

/* Advantages */
.advantages {
  text-align: center;
}

.advantages-caption {
  max-width: 656px;
  margin: 0 auto 21px;
  padding: 69px;

  text-align: center;
}

.advantages-caption .h2 {
  margin-bottom: 25px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantage-item {
  width: 400px;
  min-height: 384px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  overflow: hidden;
}

.advantage-content {
  padding: 112px 84px;
}

.advantage-content--indent {
  padding-top: 102px;
  padding-bottom: 102px;
}

.advantage-title {
  max-width: 75%;
}

.advantage-title::after {
  display: block;
  margin: 30px auto;
  width: 60px;
  height: 2px;

  content: "";

  background-color: currentColor;
  opacity: 0.3;
}

.advantage-item--accent {
  display: flex;
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-item--reverse {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  color: #ffffff;

  background-color: #82b3d3;
}

.advantage-item--background {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-img {
  flex-shrink: 0;
  width: 800px;
  min-height: 384px;
  margin: 0;
}

.offers-section {
  text-align: center;
}

.offers-caption {
  max-width: 505px;
  margin: 0 auto;
  padding: 64px;
}

.offers-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.offers-item {
  width: 400px;
  min-height: 385px;
  margin: 0;
  padding: 83px 85px 81px;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  box-sizing: border-box;
}

.offers-item .h3 {
  margin-top: 26px;
  margin-bottom: 29px;
}

.offers-item--accent {
  background-color: rgba(131, 179, 211, 0.2);
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-wraper {
  max-width: 592px;
  margin: 0 auto;

  text-align: center;
}

.search-wraper .paragraph {
  margin-bottom: 54px;
}

/*Footer*/
.subscribe-section {
  min-height: 414px;
  padding: 96px 258px 104px;

  text-align: center;
  color: #000000;

  background-repeat: no-repeat;

  box-sizing: border-box;
}

.subscribe-section--index {
  color: #ffffff;

  background-color: #8e9eaf;
  background-image: url("../images/subscribe.jpg");
}

.subscribe-description {
  max-width: 75%;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-field {
  width: 452px;
  height: 52px;
  padding: 14px 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;

  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;

  box-sizing: border-box;
}

.subscribe-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  width: 232px;

  border: none;
  border-radius: 0 4px 4px 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  padding: 45px 70px 35px;

}

.social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 142px;
  padding-left: 0;
  margin: 0;

  list-style-type: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  padding: 0 10px;

  color: #83b3d3;

  box-sizing: border-box;
}

.social-link:hover,
.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon {
  fill: currentColor;
}

.phone {
  flex-grow: 1;

  font-size: 40px;
  line-height: 40px;
  color: #000000;

  text-decoration: none;
  text-align: center;
}

.phone:hover,
.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer {
  color: #000000;
}

.developer:hover,
.developer:focus {
  color: #756157;
}

.developer:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-icon {
  fill: currentColor;
}

/* Pages */
/* Catalog */
.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.inner-header {
  min-height: 412px;
  padding: 35px 43px 70px 70px;

  color: #ffffff;

  background-color: #b49397;
  background-image: url("../images/catalog/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  box-sizing: border-box;
}

.h1 {
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0 0 40px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
}

.breadcrumbs-item::after {
  content: "";
  display: block;
  width: 7px;
  height: 100%;
  margin: 0 10px;

  background-image: url("../images/catalog/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  fill: currentColor;
}

/* Filter */
.filter {
  margin-top: 40px;
}

.filter-form {
  display: flex;
  column-gap: 70px;
}

.filter-block {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-block-title {
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-block-list {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.filter-block-item {
  position: relative;

  display: flex;
}

.filter-block-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-label {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 23px;

  cursor: pointer;
}

.filter-label:hover {
  opacity: 0.6;
}

.filter-label:active {
  opacity: 0.3;
}

.filter-label::before {
  content: "";
  z-index: 1;

  width: 20px;
  height: 20px;
  margin-right: 16px;

  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
}

.filter-label--checkbox::before {
  border-radius: 4px;
  background-position: left 4px bottom 4px;
}

.filter-label--radio::before {
  border-radius: 50%;
  background-position: 50%;
}

.filter-label--radio::after {
  content: "";
  position: absolute;
  left: 5px;
  z-index: 1;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;

  opacity: 0;
}

.filter-input:checked + .filter-label--checkbox::before {
  background-image: url("../images/catalog/checkbox.svg");
}

.filter-input:checked + .filter-label--radio::after  {
  opacity: 1;
}

.filter-input:focus + .filter-label::before {
  outline: #83b3d3 solid 3px;
}

.price {
  margin-left: auto;
}

.price-options {
  display: flex;
  column-gap: 2px;
  margin-bottom: 36px;
}

.price-field {
  position: relative;
}

.price-field-value {
  width: 143px;
  height: 48px;
  padding: 12px 50px 12px 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.price-field-value:hover {
  background-color: #e6e6e6;
}

.price-field-value:focus {
  background-color: #e6e6e6;
  outline: #83b3d3 solid 3px;
}

.price-field-value:active {
  outline: #000000 solid 2px;
}

.price-field-value--min {
  border-radius: 4px 0 0 4px;
}

.price-field-value--max {
  border-radius: 0 4px 4px 0;
}

.price-field-text {
  position: absolute;
  top: 12px;
  right: 20px;

  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.price-range {
  position: relative;

  padding: 8px 0;
}

.price-range-line {
  height: 4px;

  background-color: rgba(255, 255, 255, 0.3);
}

.price-range-current {
  width: 78%;
  height: inherit;

  background-color: #ffffff;
}

.price-range-button {
  position: absolute;
  top: 0;

  width: 20px;
  height: 20px;

  border: none;
  border-radius: 5px;
  background-color: #ffffff;

  cursor: pointer;
}

.price-range-button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-range-button:focus {
  outline: #83b3d3 solid 3px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.price-range-button:active {
  outline: #83b3d3 solid 2px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.price-range-button--min {
  left: 0;
}

.price-range-button--max {
  right: 21%;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.filter-button {
  padding-right: 50px;
  padding-left: 50px;
}

.filter-button + .filter-button {
  margin-top: 32px;
}

/* Catalog */
.catalog {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  align-items: flex-start;
  padding: 50px 70px 0;
}

.result {
  align-self: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  height: 49px;
  padding: 10px 35px 10px 18px;
  margin-left: auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;

  background-image: url("../images/catalog/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px top 50%;

  cursor: pointer;

  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.select-control:active {
  border: 2px solid #3f5e72;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.view-list {
  display: flex;
  column-gap: 8px;
  padding-left: 0;
  margin: 0;

  list-style-type: none;
}

.view-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-link:hover,
.view-link:active {
  border: 2px solid #000000;
}

.view-link:focus {
  border: 2px solid #68a2ca;
}

.view-link--active {
  border-color: #000000;
}


.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-left: 0;
  margin: 40px 0;

  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto;
  grid-gap: 16px 18px;
  max-width: 340px;
  padding: 20px;

  border: 1px solid #e6e6e6;
  overflow: hidden;

  box-sizing: border-box;
}

.hotel-card-title {
  margin-top: 16px;

  color: #000000;

  text-transform: none;
}

.hotel-card-link {
  grid-column: 1/3;

  text-decoration: none;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  text-align: right;
}

.hotel-card-more {
  padding-left: 26px;
  padding-right: 26px;
}

.hotel-card-favorite {
  padding-left: 18px;
  padding-right: 18px;

  text-align: center;
}

.rating-stars {
  display: flex;
  align-items: center;
  column-gap: 6px;

  color: #82b3d3;
}

.rating-result {
  padding: 9px 22px 8px 23px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}


/* Pagination */
.pagination {
  width: 100%;
}

.pagination-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 62px;
  padding-top: 37px;
  padding-left: 0;

  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;

  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;

  background-color: #82b3d3;
  border-radius: 4px;
  box-sizing: border-box;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background: #82b3d3;
}

.pagination-more {
  display: block;
  width: 60px;
  height: 60px;
  padding: 12px;

  line-height: 37px;
  text-align: center;

  box-sizing: border-box;
}

.pagination-current {
  color: #000000;
  background: #f2f2f2;
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  background: #f2f2f2;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  width: 100%;
  height: 100%;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container--hide {
  display: none;
}

.modal {
  position: relative;

  margin: auto;
  padding: 64px 70px;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-search {
  width: 577px;
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 52px;

  width: 52px;
  height: 52px;
  padding: 0;

  line-height: 0;

  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;

  cursor: pointer;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus {
  background-color: #e6e6e6;
  outline: #82b3d3 solid 3px;
}

.modal-close:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  margin-bottom: 64px;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 81px;
  width: 577px;
}

.modal-form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.modal-form-group--wide {
  grid-column: 1/-1;
}

.modal-form-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;

  box-sizing: border-box;
}

.modal-form-label--indent {
  margin-left: 7px;
}

.modal-form-field {
  width: 440px;
  height: 48px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border: none;

  box-sizing: border-box;
}

.modal-form-field--date {
  padding: 12px 50px 12px 20px;
  margin-left: 18px;

  background-color: #f2f2f2;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-position: right 19px top 13px;
  border-radius: 4px;
}

.modal-form-field--date:hover {
  background-color: #e6e6e6;
}

.modal-form-field--date:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-form-field--date:active {
  outline: 2px solid #000000;
}

.modal-form-field--date::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field--quantity {
  width: 110px;
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;

  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;

  outline: none;
}

.modal-form-message {
  max-width: 440px;
  width: 100%;
  margin: 4px 0 0 auto;
  padding: 0 20px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  box-sizing: border-box;
  opacity: 0;
  visibility: hidden;
}

.modal-form-message--valid,
.modal-form-message--error {
  opacity: 1;
  visibility: visible;
}

.modal-form-message--error {
  color: #ff5757;
}

.modal-form-button {
  position: absolute;
  top: 13px;

  width: 20px;
  height: 20px;
  padding: 0;

  line-height: 0;

  border: none;
  cursor: pointer;
  opacity: 0.3;
  border-radius: 5px;
}

.modal-form-button:hover,
.modal-form-button:focus {
  opacity: 1;
}

.modal-form-button:focus {
  outline: 3px solid #82b3d3;
}

.modal-form-button:active {
  opacity: 0.2;
}

.modal-form-button-icon {
  fill:  #756157;
}

.modal-form-button:hover .modal-form-button-icon,
.modal-form-button:focus .modal-form-button-icon,
.modal-form-button:active .modal-form-button-icon  {
  fill: #000000;
}

.modal-form-button--reduce {
  left: 9px;
}

.modal-form-button--increase {
  right: 10px;
}

.modal-form-counter {
  position: relative;
  display: flex;
}

.modal-form-info {
  position: relative;

  display: flex;
  margin-left: 10px;
  margin-right: auto;
}

.modal-form-info-button {
  padding: 0;

  line-height: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.modal-form-info-button:hover + .modal-form-info-tooltip,
.modal-form-info-button:focus + .modal-form-info-tooltip {
  display: block;
}


.modal-form-info-tooltip {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  width: 256px;
  padding: 19px 18px 23px 22px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  box-sizing: border-box;
}

.modal-form-info-tooltip::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;

  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 9px solid #333333;

  transform: translateX(-50%);
}

.model-form-submit {
  grid-column: 1/-1;
  margin-top: 25px;
  padding-top: 18px;
  padding-bottom: 18px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 10px;
}

.model-form-submit:active {
  background-color: #68a2ca;
}
